@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '../../../../styles/variables.scss';
.days {
  display: flex;
  gap: 10px;
  max-width: 734px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: $box-shadow, 
              inset 20px 0 20px -20px rgba(0,0,0,0.1),
              inset -20px 0 20px -20px rgba(0,0,0,0.1);
  overflow-x: auto;
  overflow-y: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;

  @media (min-width: 1024px) {
    margin-left: 50px;
  }

  @media(min-width: 1220px) {
    max-width: 740px;
  }

  @media(min-width: 1440px) {
    margin-left: 260px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 149px;
  width: 120px;
  border-radius: 10px;
  padding: 10px;
  background-color: #4793FF33;
  transition: 300ms;
  cursor: pointer;

  .day_info {
    padding-bottom: 12px;
    color: $base-color;
    font-size: 15px;
  }

  .img {
    padding-bottom: 12px;
  }

  .temp_day {
    font-size: 22px;
  }

  .temp_night {
    padding-bottom: 5px;
    color: $base-color;
  }

  .info {
    color: $base-color;
    font-size: 13px;
  }
}
