@import "../../../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.this_day {
  padding: 20px;
  max-width: 270px;
  border: 1px solid rgba(180, 180, 180, 0.4); //red
  border-radius: 15px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.4);

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;

  @media (min-width: 375px) {
    max-width: 325px;
  }

  @media (min-width: 425px) {
    max-width: 375px;
  }

  @media (min-width: 1024px) {
    min-width: 375px;
  }
}

.top_block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
}

.this_day_temp {
  color: $primary-color;
  font-size: 50px;
  font-weight: 600;
}

.this_city,
.this_time {
  color: rgba(147, 156, 176, 1);
}

.this_day_icon {
  min-width: 32px;
  min-height: 32px;
}
