@import '../../../../styles/variables.scss';

.this_day_info {
  padding: 20px;
  max-width: 270px;

  border: 1px solid gba(180, 180, 180, 0.4);
  border-radius: 15px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.4);
  border-radius: 15px;

  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;

  @media (min-width: 375px) {
    max-width: 325px;
  }

  @media (min-width: 425px) {
    max-width: 375px;
    font-size: 12px;
  }

  @media (min-width: 768px) {
    max-width: 500px;
    padding-right: 50px;
    font-size: 14px;
  }
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .indicator_name {
    color: $base-color;
  }

  .indicator {
    min-width: 28px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
