@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

.Header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid gba(180, 180, 180, 0.4);

  @media (min-width: 768px) {
    gap: 25px;
    min-height: 70px;
  }

  @media (min-width: 1024px) {
    gap: 30px;
    min-height: 80px;
  }
}

.themeIcon {
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 36px;
    height: 36px;
  }
  @media (min-width: 1024px) {
    width: 40px;
    height: 40px;
  }
}

.titleName {
  display: none;

  @media (min-width: 375px) {
    display: block;
    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
  }
  @media (min-width: 576px) {
    font-size: 17px;
  }
  @media (min-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 1024px) {
    font-size: 25px;
  }
  @media (min-width: 1440px) {
    margin-left: 85px;
  }
}

.searchWrapper {
  display: flex;
  align-items: center;
  background: #4793ff33;
  border-radius: 15px;
  padding: 4px 10px;
  max-width: 200px;
  flex-shrink: 0;
  overflow: hidden;

  @media (min-width: 375px) {
    max-width: 100px;
  }

  @media (min-width: 1024px) {
    max-width: 400px;
  }
}

.searchInput {
  background: transparent;
  border: none;
  outline: none;
  color: #0000009a;
  padding: 6px 10px;
  font-size: 16px;
  padding-left: 10px;
}

.searchBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
